@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 80vw;
  aspect-ratio: 7 / 3;
  border: 2px solid green;
}

main {
  width: 90%;
  height: 90%;
  margin: auto;
}
